# Site
repository: sproogen/resume-theme
favicon: images/favicon.ico

# Content configuration version
version: 2

# Personal info
name: Cody Wood
title: Seeking Software Engineering / IT Roles
email: temp.CodyWood@gmail.com
website: www.github.com/t00nz

# Dark Mode (true/false/never)
darkmode: false

# Social links
# twitter_username: facespics
github_username:  t00nz
# stackoverflow_username: "00000001"
# dribbble_username: jekyll
# facebook_username: jekyll
# flickr_username: jekyll
# instagram_username: jameswgrant
linkedin_username: cody-wood-6219262aa
# xing_username: jekyll
# pinterest_username: jekyll
# youtube_username: globalmtb
# googleplus_username: +jekyll
# orcid_username: 0000-0000-0000-0000

# Additional icon links
additional_links:
- title: itsgoingto.be
  icon: fas fa-globe
  url: https://www.itsgoingto.be
# - title: another link
#   icon: font awesome brand icon name (eg. fab fa-twitter) (https://fontawesome.com/icons?d=gallery&m=free)
#   url: Link url (eg. https://google.com)

# Google Analytics and Tag Manager
# Using more than one of these may cause issues with reporting
# gtm: "GTM-0000000"
# gtag: "UA-00000000-0"
# google_analytics: "UA-00000000-0"

# About Section
# about_title: About Me
about_profile_image: images/CodyAvatar.jpeg
about_content: | # this will include new lines to allow paragraphs
  I am a graduate of SIUE with a Bachelor's in Computer Science. I have a passion for technology and aspire to grow as a software developer. 
  
  As someone who values diligence and always strives to do my best in everything I take on, I approach challenges analytically and enjoy solving problems with creative, efficient solutions. Whether it's work, studies, or personal growth, I focus on the task at hand and give it my all. At the same time, I stay balanced with a calm and relaxed attitude. I believe in being considerate of others, always listening and offering support when needed while also creating a positive and thoughtful environment.
  
  I am most skilled in: <mark>OOP (C#, C++, C, Java, Python)</mark> and <mark>JavaScript</mark>

  I have experience in:
  -Agile Development Life Cycle
  -Git for Version Control
  -Working with a client to gather requirements and provide updates
  -Testing and debugging applications to identify potential problems
  -RDBMS concepts and SQL
  -Networking and Data Communications
  -Azure Directory
  -RESTful APIs
  -Unity
  -Installing Computer Hardware/Drivers

content:
  - title: Projects # Title for the section
    layout: list # Type of content section (list/text)
    content:
      - layout: top-middle
        title: Plant Eye
        link: github.com/sproogen
        # link_text: Project Website
        additional_links:
          - title:  sproogen/modern-resume-theme
            icon: fab fa-github
            url: github.com/sproogen/modern-resume-theme
          # - title:  Github page for project (eg. sproogen/modern-resume-theme)
          #   icon: fab fa-github
          #   url: Link to project (eg. sproogen.github.io/modern-resume-theme)
        quote: >
          Bring life to the world.
        description: | # this will include new lines to allow paragraphs
          Near high-throughput system to automate the image processing of plants, and then upload image dataset to OneDrive. Senior Project for school. Used Android Studio to develop and used Git for version control.
          Skills: Front-End Development · Agile Methodologies · Java · Agile Testing · Software Development · Object-Oriented Programming (OOP) · Microsoft Visual Studio Code · Design Patterns · Software Testing · Programming · Problem Solving · Git

  - title: Experience # Title for the section
    layout: list # Type of content section (list/text)
    content:
      - layout: left
        title: The Boring Company
        link: boringcompany.com
        # link_text: boringcompany.com
        sub_title: Senior Network System Administrator
        caption: November 2017 - Present
        quote: >
          Solving 21st century problems by diging holes and making game changing products like the *not a flamethrower*
        description: | # this will include new lines to allow paragraphs
            Every company needs its networks properly administered and The Boring Compay is no exception. Digging holes is hard and I play my part making sure the whole company stays connected. I lead a team of 5 people and enjoy driving the company to try new technologies.

  - title: Education # Title for the section
    layout: list # Type of content section (list/text)
    content:
      - layout: left
        title: Harvard University
        caption: 2010 - 2013
        sub_title: BSc Computer Science
        quote: >
          Established in 1636, Harvard is the oldest higher education institution in the United States, and is widely regarded in terms of its influence, reputation, and academic pedigree as a leading university in not just the US but also the world.
        description: | # this will include new lines to allow paragraphs
          During my time at Harvard I learnt most of my key skills that have I have taken through my career such as teamwork and working to tight deadlines. I thouroughly enjoyed my time as university and learnt a lot about a healthy work life balance.

          I spent a lot of my free time as a committee member of the *Harvard Mountaineering Club* taking on roles such as *Trip Secretary* and *Vice-President*.

  - title: A Little More About Me
    layout: text
    content: | # this will include new lines to allow paragraphs
      Alongside my interests in networks and software engineering some of my other interests and hobbies are:
      - Rock climbing
      - Gaming
      - Knitting
      - [Becoming a ninja](https://www.youtube.com/watch?v=vtg4o__aRMg)

      Look at this cool image  
      ![Trees](/modern-resume-theme/images/landscape-trees.jpg "Trees")

# Footer
footer_show_references: false
# references_title: References on request (Override references text)

# Build settings
remote_theme: sproogen/resume-theme

sass:
  sass_dir: _sass
  style: compressed

plugins:
 - jekyll-seo-tag
